* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    overflow-x: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .container{
    background: #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .fade {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .show {
    opacity: 1;
    display: block;
  }
  
  .img-div{
    height: 300px !important;
    padding: 20px !important;
  }
  .img-div img{
    height: 260px !important;
  }
  .options-div{
    margin: 10px !important;
  }
  .options-div select{
padding: 10px;
border-radius: 5px !important;
font-size: 16px !important;

  }
  .options-div h4{
    padding: 5px !important;
  }
 
 