* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.fade {
  opacity: 0;
  transition: opacity 1s;
}
.unfade {
  opacity: 1;
  transition: opacity 1s;
}
.hidden {
  display: none;
}
.space{
  display: none;
}
.img-div {
  height: 350px !important;
  padding: 20px !important;
}
.img-div img {
  height: 310px !important;
}
.options-div {
  margin: 10px !important;
}
.options-div select {
  padding: 10px;
  border-radius: 5px !important;
  font-size: 16px !important;
}
.options-div h4 {
  padding: 5px !important;
}
#tutorial-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px !important;
  font-size: 20px !important;
  padding: 10px !important;
}
#thoughts-div{
  position: absolute;
  top: 30%;
  left: 60%;
  height: 360px !important;
  width: 360px !important;
  background-image: url("pensar2.png");
  background-position: center;
  background-size: cover;
}
#thoughts-div p{
  position: relative;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 200px !important;
}
#end-button{
  margin: auto;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px !important;
  border-radius: 20px !important;
  background: #76d2a7;
}
#end-button:hover{
  color: #fff;
  background: #2b8058;
  box-shadow: 2px 2px 6px #111;
}
@media(max-width:568px){
  .img-div {
    height: 280px !important;
    padding: 10px !important;
  }
  .img-div img {
    height: 260px !important;
  }
  #tutorial-div{
    height: 180px !important;
    font-size: 16px !important;
    padding: 15px !important;
  }
  #thoughts-div{
    position: absolute;
    top: 18%;
    left: 30%;
    height: 300px !important;
    width: 300px !important;
    background-image: url("pensar2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #thoughts-div p{
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 140px !important;
    font-size: 14px !important;
  }
  .space{
    height: 200px !important;
    background: #fff;
    display: block;
  }
}

